* {
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
    width: 100%;
}

div {
    display: inline-block;
}

.container {
    display: block;
    height: 1118px;
    margin: auto;
    perspective: 2000px;
    width: 680px;
}

.gameboy {
    height: 100%;
    position: relative;
    transform: translateZ(-1000px) rotateY(0deg) rotateX(0deg);
    transform-style: preserve-3d;
    width: 100%;
}

.gameboy__face {
    position: absolute;
}

/**
* Front Side
**/
.gameboy_front {
    background-color: blue;
    height: 1118px;
    transform: rotateY(0deg) translateZ(340px);
    width: 680px;
}


/**
* Left Side
**/
.gameboy_left {
    background-color: pink;
    height: 1118px;
    transform: rotateY(-90deg) translateX(220px) translateZ(121px);
    width: 240px;
}


/**
* Right Side
**/
.gameboy_right {
    background-color: green;
    height: 1118px;
    transform: rotateY(90deg) translateX(-220px) translateZ(561px);
    width: 240px;
}


/**
* Back Side
**/
.gameboy_back {
    background-color: purple;
    height: 1118px;
    transform: rotateY(180deg) translateZ(-100px);;
    width: 680px;
}


/**
* Top Side
**/
.gameboy_top {
    background-color: orange;
    height: 240px;
    transform: rotateX(90deg) translateY(220px) translateZ(118px);
    width: 680px;
}


/**
* Back Side
**/
.gameboy_bottom {
    background-color: yellow;
    height: 240px;
    transform: rotateX(-90deg) translateY(-220px) translateZ(998px);
    width: 680px;
}
