* {
    box-sizing: border-box;
}

html, body, .container {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

div {
    display: inline-block;
}

.container {
    display: block;
    height: 100%;
    margin: auto;
    perspective: 2000px;
    width: 100%;
}

.gameboy {
    height: 1118px;
    position: relative;
    transform-style: preserve-3d;
    width: 680px;
}

.gameboy__face {
    background-color: #E3E5DC;
    border: 1px solid black;
    position: absolute;
}

/**
* Front Side
**/
.gameboy_front {
    /* background-color: blue; */
    height: 1118px;
    transform: rotateY(0deg) translateZ(340px);
    width: 680px;
}


/**
* Left Side
**/
.gameboy_left {
    /* background-color: pink; */
    height: 1118px;
    transform: rotateY(-90deg) translateX(220px) translateZ(121px);
    width: 240px;
}


/**
* Right Side
**/
.gameboy_right {
    /* background-color: green; */
    height: 1118px;
    transform: rotateY(90deg) translateX(-220px) translateZ(561px);
    width: 240px;
}


/**
* Back Side
**/
.gameboy_back {
    /* background-color: purple; */
    height: 1118px;
    transform: rotateY(180deg) translateZ(-100px);;
    width: 680px;
}


/**
* Top Side
**/
.gameboy_top {
    /* background-color: orange; */
    height: 240px;
    transform: rotateX(90deg) translateY(220px) translateZ(118px);
    width: 680px;
}


/**
* Back Side
**/
.gameboy_bottom {
    /* background-color: yellow; */
    height: 240px;
    transform: rotateX(-90deg) translateY(-220px) translateZ(998px);
    width: 680px;
}

.info-text {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    bottom: 3rem;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    height: 6rem;
    margin: 0 10%;
    padding: 1.5rem;
    position: fixed;
    text-align: center;
    width: 80%;
}
